* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: 'Muli', Arial, sans-serif;
  margin: 0 auto;
}

.nav-bar {
  overflow: hidden;
  background-color: #f8f9fa;
}

.nav-bar a, .nav-bar a:visited {
  display: block;
  text-align: center;
  padding: 1.6rem;
  text-decoration: none;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 6rem;
} */

#page-title {
float: left;
color: #191919;
font-size: 2.2rem;
}

.menu-right {
  float: right;
  font-size: 1.6rem;
}

.menu-right a, .menu-right a:visited {
  display: inline-block;
  color: #999999;
}

.menu-right a:hover {
  display: inline-block;
  color: #000000;
}

.main {
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 85%;
}

.section-season, .section-hosts, .section-signup-form{
  display: block;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  text-align: center;
}

.season-heading {
  display: inline-block;
	color:#191919;
  line-height: 3.6rem;
  font-size: 3.6rem;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 2rem;
	text-align: center;
}

.episode-wrapper{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(10rem, auto);
  padding: 2rem 1.5rem;
}

.image-container {
  grid-column: 1 / 2;
  grid-row: 1;
  padding: 2rem;
  background-color: #f3f3f3;
}

.episode-audio{
  padding-top: 2.5rem;
}

.episode-content {
  background-color: #e9ecef;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  padding: 4rem;
  text-align: left;
}

.episode-title, .host-name, .newsletter-heading{
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.episode-content p {
  font-size: 1.7rem;
  padding: 1.5rem;
  padding-left: 0;
}

.section-container, hosts-container {
  background-color: #e9ecef;
  display: block;
  padding: 4rem;
}

.section-container {
  text-align: left;
}

.large-heading {
  font-size: 6.5rem;
  font-weight: 400;
}

.large-body {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  padding: 1rem 1.5rem 1.5rem 0;
}

.hosts-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(10rem, auto);
  padding: 2rem 0;
}

.host-image {
  border: 0.7rem solid #fff;
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
}

.host-profile-1{
  grid-column: 1 / 3;
  grid-row: 1;
  padding: 2rem;
  background-color: #e9ecef;
}

.host-profile-2{
  grid-column:  3 / 5;
  grid-row: 1;
  padding: 2rem;
  background-color: #e9ecef;
}

.host-bio {
  padding: 2rem 1rem 1rem 1rem;
}

.host-body-text {
  font-size: 1.7rem;
  padding: 1.5rem;
}

.host-body-text a, a:visited {
  color: #007bff;
  text-decoration: underline;
}



.section-signup-form{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f5f5f5;
}

.form-signup {
  width: 100%;
  max-width: 33rem;
  padding: 1.5rem;
  margin: auto;
}

.footer-image {
  padding: 2rem;
}

.footer-logo {
  width: 8rem;
  height: 8rem;
}

.newsletter-heading {
  padding: 1rem;
  margin-bottom: 2rem;
}

.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1.6rem;
}

.form-signup .form-control:focus {
  z-index: 2;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
  border-radius: 0;
  margin-bottom: -1px;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sign-up-button {
  background-color: #007bff;
  border: none;
  border-radius: 1.5rem;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  margin: 1rem 0;
  padding: 1.2rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.copyright-text {
  font-size: 1.3rem;
}
.book {
  list-style: none;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  padding: 2rem;
}

.book li {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem 0;
  background-color: #f3f3f3;
}

.book-image img {
  border: 2px solid #fff;
  box-shadow: 0.1rem 0.2rem 0.3rem #333333;
  display: inline-block;
  height: 25rem;
  width: auto;
  text-align: center;
}

.book-title, .book-blurb {
  padding: 1rem;
}

.book-title h4 {
    font-size: 2rem;
}


.book-blurb p {
  font-size: 1.5rem;
  background-color: #fff;
  padding: 1rem;
  line-height: 2.2rem;
}

