<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

      {% load static %}
      <link href="{% static 'bookversations/css/styles.css' %}" rel="stylesheet" type="text/css"/>
    <title>Email Exists</title>
</head>
<body>
  <div class="main">
    <div class="section-container">
      <h1 class="large-heading">Uh oh!</h1>
      <p class="large-body">
        Sorry this email already exists in our system. Click the button below to try again with a different email.
      </p>

      <form action="{% url 'bookversations:existingmail' %}" method="post">
            {% csrf_token %}
        <button class="sign-up-button" type="submit" name="button">
          Try Again
        </button>
      </form>
    </div>
  </div>
</body>
</html>