<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'bookversations/css/styles.css' %}" rel="stylesheet" type="text/css"/>
    <title>Success</title>
</head>

<body>
  <div class="main">
    <div class="section-container">
      <h1 class="large-heading">Awesome!</h1>
      <p class="large-body">
        You have been successfully signed up to the newsletter. Looking
        forward to sharing loads of useful content with you. Until then,
        sending lots of love and peace your way.
      </p>
    </div>
  </div>
</body>

</html>